<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>View all</title>
</head>

<body>
    <h1>View all</h1>
    <a href="/view" style="margin: 10px;">Back to index</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        {{#each ds}}
        <tr>
            <td>{{name}}</td>
            {{#if country}}
                <td>{{country}}</td>
            {{else}}
                <td style="color:red ;">Not Available</td>
            {{/if}}
            <td><a href="/edit?id={{id}}">Edit</a></td>
            <td><a href="/delete?id={{id}}" onclick="return confirm('Are you sure?')">Delete</a></td>
        </tr>
        {{/each}}
    </table>
</body>

</html>